<div class="recipe-buttons">
    <a href="#recipe" class="jump-to-recipe">
        <span style="display: inline-flex; width: 16px; height: 16px; fill: white;" aria-hidden="true">
            <svg height="16" viewbox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                <g class="nc-icon-wrapper" fill="#ffffff"><path d="M9,2h6c0.6,0,1-0.4,1-1s-0.4-1-1-1H9C8.4,0,8,0.4,8,1S8.4,2,9,2z" data-color="color-2"></path> 
                    <path d="M16,11V5c0-0.6-0.4-1-1-1H9C8.4,4,8,4.4,8,5v6H1.9L12,23.6L22.1,11H16z" fill="#ffffff"></path>
                </g>
            </svg>
        </span> Jump to Recipe
    </a>
</div>